@model Tarea_07Web.Models.Empleado

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">

    <div class="box box-info">
        <div class="box-header with-border">
            <br />
            <h1 class="col-lg-offset-4" style="font-family:Cambria"><strong>Esta Accion no se podra deshacer</strong></h1>
        </div>

        <div class="box-body">

            <hr />
            <div class="row">
                <dl>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Cedula)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cedula)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaNacimiento)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaIngreso)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Sexo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sexo)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.EstadoCivil)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EstadoCivil)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Ocupacion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Ocupacion)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.TipoSangre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TipoSangre)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Nacionalidad)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nacionalidad)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Religion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Religion)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Salariomensual)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Salariomensual)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Departamento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Departamento)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Contactoemergencia)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contactoemergencia)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.AFP)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AFP)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.ARS)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ARS)
                    </dd>
                    <dt class="col-lg-3 col-lg-offset-4">
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <a asp-action="Index" class="btn btn-primary fas fa-arrow-alt-circle-left">Regresar</a>
    <input type="submit" value="Eliminar" class="btn btn-danger col-lg-offset-4" /> |
</form>

